#title {
  font-family: "fonts/NanumGothic";
  font-size:40px;
  font-weight:bold;

  text-align:center;

  padding-top:10px;
  padding-bottom:10px;

  border-bottom:2px solid black;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#grid ol {
  font-size:15px;
  margin:0px;
  padding:10px;
}

#grid #article {
  border-left:2px solid black;
  padding-left:20px;
  padding-top:10px;
  font-size:20px;
}

.center {
  text-align: center;
}
