@font-face {
  font-family: NotoSans;
  src: url("fonts/NotoSansCJKkr-Regular.otf") format("opentype");
}

@font-face {
  font-family: NotoSans_Thin;
  src: url("fonts/NotoSansCJKkr-Thin.otf") format("opentype");
}

body {
  margin: 0px;
}
.container {
  position: relative;
  width: 1200px;
  height: 400px;
}

.align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  position: relative;

  font-family:'NotoSans';
  font-size:24px;
  font-weight:bold;

  text-align:left;
  color:white;

  width: 1000px;
  height: 150px;
}

.logo {
  max-width: 100%;
  height: 40px;
}

.icon {
  height: 32px;
}

.insta {
  color :white;
  width: 220px;
  margin:
  display: block;
  font-family: NotoSans;
  font-size: 32px;
  font-align: center;
}

#article {
  padding-left:20px;
  padding-top:10px;
  font-size:20px;

  border-top:5px solid white;
}

img .center {
  text-align: center;
}

.white {
  text-decoration: none;
  color: white;
}

.bgImage {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  animation:fadeIn.7s linear;
  z-index: -1;
}

#menuBar {
  height: 75px;
  width: 850px;
}

#menuBar ul {
  margin: 0px;
}

#menuBar ul li {
  font-family: NotoSans;
  list-style: none;
  color: white;
  background-color: transparent;
  float: left;
  line-height: 70px;
  vertical-align: middle;
  text-align: center;
}

#menuBar .menuLink {
  text-decoration: none;
  color: white;
  display: block;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
}

header .wrap {
  height: 75px;
}

#sideBar {
  height: 60px;
  width: 1960px;
}

#sideBar .wrap {
  display: grid;
  height: 50px;
  border-bottom: 1px solid black;
}

#sideBar ul li {
  height: 50px;
  font-family: NotoSans_Thin;
  list-style: none;
  color: black;
  background-color: transparent;
  float: left;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

#sideBar ul {
  margin: 0px;
}

#sideBar .menuLink {
  text-decoration: none;
  color: black;
  display: block;
  width: 100px;
  height: 70px;
  font-size: 18px;
  font-weight: bold;
}

header {
  height: 600px;
}

header .bannerImage {
  z-index: -1;
}
